useDynLib(PearsonDS)
#importFrom(gsl,lngamma_complex)
importFrom(utils,installed.packages)

exportPattern("^dpearson[[:alpha:]]+")
exportPattern("^ppearson[[:alpha:]]+")
exportPattern("^qpearson[[:alpha:]]+")
exportPattern("^rpearson[[:alpha:]]+")
exportPattern("[[:alpha:]]+pearson$")
exportPattern("[[:alpha:]]+pearson0$")
#exportPattern("^pearson[[:alpha:]]+moments$")

export("pearsonFitM")
export("pearsonFitML")
export("pearsonMoments")
export("pearsonDiagram")
export("empMoments")
export("pearsonMSC")

